/* add css module styles here (optional) */

.sliderContainer {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
}

.imageContainer {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%;
}

.imageParent {
  position: absolute;
}

.sliderButton {
  background: none;
  border: none;
  font-size: 44px;
  cursor: pointer;
  font-weight: bold;
  margin: 20px;
  display: inline-block;
  position: relative;
  z-index: 9999;
}

/* Sliding Animation */

@keyframes slideInLeft {
  from {
    transform: translate3d(-250%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  from {
    transform: translate3d(250%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-250%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(250%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
